aniso8601==7.0.0
asgiref==3.5.0
boto3==1.21.19
botocore==1.24.19
cachetools==5.0.0
cassandra-driver==3.25.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
cryptography==36.0.1
dj-database-url==0.5.0
Django==3.2.11
django-cassandra-engine==1.6.3
django-filter==21.1
djangorestframework==3.13.1
ecdsa==0.17.0
gclient-service-account-auth==0.3.0
geomet==0.2.1.post1
google-api-core==2.7.1
google-api-python-client==1.12.10
google-auth==2.6.0
google-auth-httplib2==0.1.0
google-cloud-bigquery==2.34.2
google-cloud-core==2.2.3
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.55.0
graphene==2.1.9
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
grpcio==1.44.0
grpcio-status==1.44.0
httplib2==0.20.4
idna==3.3
importlib-metadata==4.11.2
jmespath==0.10.0
Markdown==3.3.6
numpy==1.22.2
opensearch-py==1.0.0
packaging==21.3
pandas==1.0.3
Pillow==9.0.1
promise==2.3
proto-plus==1.20.3
protobuf==3.19.4
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
python-jose==3.3.0
python-keycloak==0.27.0
python-logging-loki==0.3.1
pytz==2021.3
requests==2.27.1
requests-aws4auth==1.1.1
rfc3339==6.2
rsa==4.8
Rx==1.6.1
s3transfer==0.5.2
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
uritemplate==3.0.1
urllib3==1.26.8
zipp==3.7.0
